llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-groq
sentence-transformers
groq
chromadb
pymupdf
python-docx
fastapi
uvicorn[standard]
python-dotenv
tiktoken